<div class="center jumbotron">
  <h1>Welcome to my Custom App</h1>

  <h2>
    This is the homepage for my custom ruby on rails application.
  </h2>

  <a class="btn btn-primary btn-lg" href="http://www.bitbucket.org/bfletcher94" target="_blank" role="button">View my Bitbucket</a>
  
</div>


            
