<footer class="footer">
  <small>
    <p>&copy; Ben Fletcher 2016 - All rights reserved.</p>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.bfletcher.co.uk" target="_blank">My Web Portfolio</a></li>
      <li><a href="https://twitter.com/BenFletcher__" target="_blank">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/ben-fletcher-55183b115?trk=nav_responsive_tab_profile" target="_blank">LinkedIn</a></li>
      <li><a href="https://bitbucket.org/bfletcher94/" target="_blank">BitBucket</a></li>
    </ul>
  </nav>
</footer>