<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Ben Fletcher", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/static_pages/home">Home</a></li>
            <li><a href="/static_pages/about">About</a></li>
            <li><a href="/users/index">Toy App Users</a></li>
            <li><a href="/microposts/index">Toy App Microposts</a></li>
          </ul>
        </nav>
      </div>
    </header>